.wrapper-collection {
    margin: auto;
    .view-more {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .title {
        font-size: 24px;
        margin: 50px 0 30px;
        font-weight: 700;
    }
    .data {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        gap: 10px;
        margin: 20px 0;
    }
}
