.wrapper-menu-mobile {
    position: fixed;
    z-index: 99;
    height: calc(100vh - (64px + 1px));
    bottom: 0;
    left: -100vw;
    width: 100vw;
    transition: all 0.3s ease;
    .container {
        border-right: 1px solid rgba(0, 0, 0, 0.08);
        width: 400px;
        max-width: 90%;
        background-color: #fff;
        flex-direction: column;
        display: flex;
        height: 100%;
    }
    nav {
        flex: 1;
        padding: 56px 0;
        a {
            padding: 11px 32px;
            width: 100%;
            font-size: 18px;
            display: block;
            transition: all 0.3s ease;
            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
            }
        }
    }
    @media (max-width: 830px) {
        display: block;
    }
    display: none;
    &.open {
        left: 0;
    }

    .links {
        min-height: 104px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.03);
    }
}